# nama yang benar (ganti sesuai kebutuhan)
nama_benar = "ndik"

# input nama
nama = input("Masukkan nama anda: ")

# pengecekan nama
if nama == nama_benar:
    print("Nama benar, lanjut program\n")
    
    # input angka
    angka = int(input("Masukkan angka: "))
    
    # menampilkan tabel perkalian 1-10
    for i in range(1, 11):
        print(f"{angka} x {i} = {angka * i}")
else:
    print("Silahkan coba lagi")